<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">"src/main/resources/templates/SuccessfulApplication.html"
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>          
</head>
<body>
<div th:replace="fragments/header :: header">*********MENU*************</div>
	<div th:if="${not #lists.isEmpty(activities)}">
			<h2>Activities</h2>
			<table class="table table-striped">
				<thead>
		        <tr>
		        
		        	<th>Name</th>
		        	
		        	 </tr>
		    </thead>
				<tr th:each="activity : ${activities}">
						
			        <td th:text="${activity.name}"></td>
			        
			        <td>
			        	<a th:href="@{'../project/edit/' + ${project.id}}"> <span class="glyphicon glyphicon-pencil"></span></a>
			        </td>
			        <td>
			        	<a th:href="@{'../project/add_activity/' + ${project.id}}"> <span class="glyphicon glyphicon-list-alt"></span></a>
			        </td>

			    </tr>
			     <tr>
                    <td  class="btn btn-warning"><a th:href="@{'../' + ${project.id}}"><i class="fa fa-angle-left"></i> Back to Project Details </a></td>
                    <td class="hidden-xs"></td>
                   <td class="btn btn-success"><a th:href="@{'/project/success/' + ${project.id}}" sec:authorize="isAuthenticated()">Proceed to Application <i class="fa fa-angle-right"></i></a></td>
                </tr> 
			</table>
		</div>


</body>
</html>