
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	 
<head>
  <title>Volunteer</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	
	<div th:replace="fragments/header :: header">*********MENU*************</div>
	<div th:if="${user} != null">
		<h1 th:text="'Welcome, ' + ${user}"></h1>
	</div>


	
	<!-- Body -->
	
	<div class="container">
	
		<!-- Products -->
		<div th:if="${not #lists.isEmpty(projects)}">
			<h2>Our projects</h2>
			<table class="table table-striped">
				<thead>
		        <tr>
		        	<th> </th>
		        	<th>Name</th>
		        	<th>Category</th>
		        	<th>Status</th>
		        	<th>Start Date</th>
		        	<th>End Date</th>
		        	
		        	

		        </tr>
		    </thead>
				<tr th:each="project : ${projects}">
						 <td>
			        	<a th:href="@{'../project/' + ${project.id}}"> view</a>
			        </td>
			        <td th:text="${project.name}"></td>
			        <td th:text="${project.category}"></td>
			        <td th:text="${project.status}"></td>
			        <td th:text="${project.StartDate}"></td>
			        <td th:text="${project.endDate}"></td>
			       

			    </tr>
			</table>
		</div>
		<!-- Orders -->
		
	</div><!-- Container -->
	
</body>
</html>