<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="fragments/header :: header">*********MENU*************</div>

	<div class="container">

		<!-- Activity -->
		<div th:if="${not #lists.isEmpty(activities)}">
			<h2>Activities of  <span th:text="${project.name}"></span></h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tr th:each="activity : ${activities}">
					<td th:text="${activity.name}"></td>
					<td><a th:href="@{'../../../activity/delete/' + ${activity.id} + '/project/' + ${project.id}}">
							<span class="glyphicon glyphicon-remove"></span>
						</a></td>
				</tr>
			</table>
		</div>
		<!-- Activity -->

			<h1>
				New Activity
			</h1>

			<form method="post" th:action="@{/activity/create}">

				<div class="form-group">
					<label for="name">Name</label> 
					<input type="text" class="form-control" name="name" id="name" required="required" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				<input type="hidden" class="form-control"  th:field="*{project.id}" />
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form>
		</div>
		<!-- Container -->
</body>
</html>