<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Project Details </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>          
</head>
<body>
<div th:replace="fragments/header :: header">*********MENU*************</div>

<h2> Project Name:</h2> 
 <h4 th:text="${project.name}"></h4>
 
 <div class="well">
 <h4> maximum number of Volunteers:  </h4><p th:text="${project.maxNumOfMemebers}"></p></div>
 <div class="well">
<h4> Volunteers:</h4> <p th:text="${project.user}"></p></div>
<div class="well">
<h4>  Organization name : </h4>
<p th:text="${project.organization.name}"></p>
</div>
<div class="well">
  <div class="container">
  
  <h2>Organization Detail</h2>
  
  <p> Our Projects are managed and owned by many Organizations and bellow is the organization that structured this Project.</p>
  
  <div class="media">
    <div class="media-left">
      <img src="/images/mumlogo.jpg" class="media-object" style="width:200px"/> </div>
    
    <div class="media-body">
      <h4 class="media-heading">Description</h4>
      <p th:text="${project.organization.description}"></p>
    </div>
  </div>
 
   </div>
  </div>
  <div class="well">
   <div class="container">
 <h2> Project Description:</h2>
 <div class="media">
    <div class="media-left">
      <img src="resources/images/mumlogo.jpg" class="media-object" style="width:200px"/> </div>
    
    <div class="media-body">
      <h4 class="media-heading">Why Volunteer in this Project</h4>
      <p th:text="${project.description}"></p> </div>
    </div>
  </div>
 
 </div>
 
 
  <div class="well">
  <a  class="btn btn-warning" th:href="@{'../project/getactivites/' + ${project.id}}"> <i class="fa fa-angle-left"></i> View Activities </a>
 	 <span class="hidden-xs"></span>
     <a  class="btn btn-success" th:href="@{'../success/' + ${project.id}}" sec:authorize="isAuthenticated()"><i class="fa fa-angle-right"></i> Volunteer</a>
 
  
</div>
</body>
</html>